*,body{
    font-size: 13px;
}
#navbar_print,#carousel_print,button,#print,.btn,.print{
    display: none;
}
a{
    text-decoration: none;
}
.number::before{
    display: inline-block;
    content: " ";
    width: 80%;
    height: 16px;
    background: #1a1e21;
}